<html>
<head>
	<title>Classification of Arrhythmia</title>
<link rel="stylesheet" href="/static/csss/style.css">
</head>
<body >


<div class="BG">
         <nav>
           <input type="checkbox" id="check">
           <label for="check" class="checkbtn">
             <i class="fas fa-bars"></i>
           </label>
           <label class="logo">ECG </label>

           <ul>
             <li><a  href="home.html">Home</a></li>
			  <li><a class="active"  href="#">Info</a></li>
             <li><a  href="classify.html">Predict</a></li>

           </ul>
         </nav>

      </div>


<h1>Info</h1>
<div id="about" class="container">
	<div class="content">
		<img src="static/images/LBBB.png" alt="bg-img">
	</div>
	<div class="content">
		<p>A delay or blockage of electrical impulses to the left side of the heart.
Left bundle branch block sometimes makes it harder for the heart to pump blood efficiently through the circulatory system.
Most people don't have symptoms. If symptoms occur, they include fainting or a slow heart rate.
If there's an underlying condition, such as heart disease, that condition needs treatment. In patients with heart failure, a pacemaker can also relieve symptoms as well as prevent death.</p>
	</div>

</div>
<div id="about" class="container">
	<div class="content">
		<img src="static/images/N.png" alt="bg-img">
	</div>
	<div class="content">
		<p>A normal resting heart rate for adults ranges from 60 to 100 beats per minute. Generally, a lower heart rate at rest implies more efficient heart function and better cardiovascular fitness.
			For example, a well-trained athlete might have a normal resting heart rate closer to 40 beats per minute.</p>
	</div>

</div>
<div id="about" class="container">
	<div class="content">
		<img src="static/images/PAC.png" alt="bg-img">
	</div>
	<div class="content">
		<p>Premature atrial contractions (PACs) are extra heartbeats that start in the upper chambers of your heart.
			When the premature, or early, signal tells the heart to contract,
			there may not be much blood in the heart at that moment.
			That means there's not much blood to pump out.</p>
	</div>

</div>
<div id="about" class="container">
	<div class="content">
		<img src="static/images/PVC.png" alt="bg-img">
	</div>
	<div class="content">
		<p>Premature ventricular contractions (PVCs) are extra heartbeats that begin in one of the heart's two
			lower pumping chambers (ventricles). These extra beats disrupt the regular heart rhythm,
			sometimes causing a sensation of a fluttering or a skipped beat in the chest.</p>
	</div>

</div>
<div id="about" class="container">
	<div class="content">
		<img src="static/images/RBBB.png" alt="bg-img">
	</div>
	<div class="content">
		<p>In RBBB, the left ventricle is activated normally, thus the early part of the QRS complex correlating to septal depolarisation is unchanged
There is delayed activation of the right ventricle as depolarisation originates from the left ventricle across the septum. This produces a secondary R wave (R’) in the precordial leads, and a wide, slurred S wave in lateral leads
Normal activation of the left ventricle means that cardiac axis remains normal in isolated RBBB</p>
	</div>

</div>
<div id="about" class="container">
	<div class="content">
		<img src="static/images/VF.png" alt="bg-img">
	</div>
	<div class="content">
		<p>Ventricular fibrillation (VF) is a rapid, life-threatening heart rhythm starting in the bottom chambers of the heart. It can be triggered by a heart attack.
Because the heart doesn't pump adequately during ventricular fibrillation, sustained VF can cause low blood pressure, loss of consciousness or death.
Emergency treatment includes immediate defibrillation with an automated external defibrillator (AED) and cardiopulmonary resuscitation (CPR).
			Long-term therapy includes implantable defibrillators and medications to prevent recurrence.</p>
	</div>

</div>
<footer>

  <div class="bottom">
    <center>
      <span class="credit">Created By <a href="">AK</a> | </span>
      <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
    </center>
  </div>
</footer>
</body>
</html>